.card-img {
  height: 300px;
  margin: auto;
  width: 285px;
}

.btn-card {
  margin: 0;
  position: absolute;
  justify-content: center;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: -7px 4px 28px -3px #3bd9d9;
}

.pagination {
  margin-top: 20px;
}

.loading {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.admin-features {
  cursor: pointer;
  top: 90%;
  /* opacity: 20; */
  position: absolute;
  display: flex;
  color: black;
  /* top: 1.5rem;
  left: 94%; */
  transition: 0.5s;
  transition-delay: 0.25s;
}

/* .admin-features:hover {
} */

.bi {
  display: flex;
  font-size: 2rem;
}

.bi:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-delay: 0s;
}
.icon-feature {
  text-decoration: none;
  color: black;
  padding-left: 2rem;
}

.tooltip-text {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 80px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 12px 10px 12px;
}

.icon-feature:hover .tooltip-text {
  visibility: visible;
}
